header {
    text-align: center;
    background-color: gold;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
}

.item h2 {
    width: 100%;
    height: 10%;
}

.item h3 {
    width: 100%;
    height: 10%;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: hotpink;
    opacity: 0.5;
}

.modal {
    position:fixed;
    width: 90%;
    height: 70%;
    background-color: gold;
    border-radius: 10px;
    left: 5%;
    top: 15%;
    padding: 20px;
    
}

.modal img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
}

.moreBtn {
    margin-top: 20px;
    margin-left: 45%;
    width: 10%;
    font-weight: bold;
    background-color: gold;
}

.comments input{
    display: inline;
}

.comments, .tags p, div {
    display: inline;
}

.tags p {
    margin-right: 5px;
}

.modal .nextBtn, .previousBtn {
    width: 10%;
    height: 5%;
    margin-left: 45%;
    font-size: 20px;
    color: gold;
    background-color: black;
}

